* {
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #E1E3E5;
    
}
div.container-fluid{
    background-color: #E1E3E5;
    padding-top: 0px;
    height:100%;
    padding:30px;
}
div.container{
    background-color:white;
    margin-top: 0px;
    border-radius: 3px;
    height: 100%;
    padding:30px;    
}
p.espaceVisiteur{
     font-weight: 200 !important;
}

img.logo{
    width:100px;
    
}
div.enTete{
    display: flex;
    justify-content: center;
    padding: 30px;  
}
input{
    border: solid 0.5px rgb(107, 107, 107);
    border-radius: 3px;
}
.formulaire1{
    display: flex;
    flex-direction: column;
    align-items: center;  
    position: relative;
}
ul{
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}
.formulaire{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;  
    margin-top:100px;
}
h3{
    font-weight: 200 !important;
    border-bottom: solid 0.5px rgb(243, 60, 60);
}
table{
    margin: 50px;
}
table.horsforfait{
    width: 100%;
}
label{
    margin-left: 10px;
}
td{
    width: 100px;
    text-align: left;

}



